/* --------------------------------font----------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* ----------------------body-common styles------------------------ */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* ---------------------------hero-section style-------------------------- */
.hero-section{
    display: flex;
    background-color: rgb(38, 38, 180);
    justify-content: space-around;
    height: 600px;
}
.hero-text{
    padding-left: 80px;
    margin-top: 100px;
}
.hero-text h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.hero-text a{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 15px 30px;
    color: white;
}
.hero-banner img{
    width: 555px;
    height: 438px;
    margin-top: 100px;
    margin-right: 50px;
}
