/* --------------------------------font----------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* ----------------------body-common styles------------------------ */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ---------------------------hero-section style-------------------------- */
.hero-section{
    background-color: #2D25A0;
}
.text-banner{
    display: flex;
    justify-content: space-around;
    height: 600px;
}
.hero-text{
    padding-left: 80px;
    margin-top: 100px;
}
.hero-text h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
}
.hero-text a{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 15px 30px;
    color: white;
}
.hero-banner img{
    width: 555px;
    height: 438px;
    margin-top: 100px;
    margin-right: 50px;
}
/* -----------------------------body- players card----------------------------- */
.container{
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.player{
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 330px;
    height: 456px;
    padding-bottom: 50px;
}
.player-photo{
    width: 300px;
    height: 256px;
    padding-left: 15px;
    padding-top: 15px;
}
.player-name{
    font-size: 28px;
    font-weight: 600;
    padding-left: 15px;
}
.player-info{
    font-size: 12px;
    color: #6C6C6C;
    font-weight: 300;
    padding-left: 16px;
    margin-top: 30px;
}
/* --------------------------watch highlights styles---------------------------- */
.highlights{
    display: flex;
    margin: 150px;
}
.highlights-text h2{
    font-size: 48px;
    font-weight: 700;
}
.highlights-text p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}
.highlights-text a{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 15px 30px;
    color: white;
    margin-bottom: 24px;
}
.highlights-video{
    width: 567px;
    height: 427px;
}
/* ------------------------------FOOTER STYLE-------------------------------- */
.footer-item{
    text-align: center;
}
.footer-item img{
    width: 483px;
    height: 110px;
}
.social-link{
    color: #E02C6D;
}

/* -------------------------responsive mobile style---------------------------- */
@media only screen and (max-width: 688px) {
    .text-banner{
        flex-direction: column;
        width: 360px;
        height: 695px;
    }
    .hero-text{
        padding-right: 50px;
    }
    .hero-text h1{
        font-size: 36px;
        font-weight: 700;
        color: white;
    }
    .hero-banner img{
        width: 329px;
        height: 259px;
        padding-left: 40px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights{
        flex-direction: column;
        margin: 0;
    }
    .highlights-text h2{
        font-size: 36px;
    }
    .highlights-text{
        padding-left: 30px;
        margin-bottom: 50px;
    }
    .footer-item img{
        width: 125px;
        height: 30px;
    }
    .footer-item{
        padding-top: 40px;
    }
}